<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nju.edu.storeservice.Mapper.StoreMapper">
    <insert id="insertStore" parameterType="nju.edu.storeservice.Model.Store">
        INSERT INTO  stores(userid, name, sign, phone, turnover, location, reg_time) VALUES (#{userid},#{name},#{sign},
        #{phone},#{turnover},#{location},#{reg_time})
    </insert>
    <delete id="deleteStore" parameterType="int">
        DELETE FROM stores WHERE userid=#{userid}
    </delete>
    <update id="updateStore" parameterType="nju.edu.storeservice.Model.Store">
         UPDATE stores SET name=#{name},sign=#{sign},phone=#{phone},turnover=#{turnover},location=#{location} WHERE userid=#{userid}
    </update>
    <select id="findStoreById" parameterType="int" resultType="nju.edu.storeservice.Model.Store">
        SELECT * FROM stores  WHERE userid=#{userid}
    </select>
    <select id="findAllStores" resultType="nju.edu.storeservice.Model.Store">
       SELECT * FROM stores
    </select>
</mapper>